html{
  font-family: 'ノスタルドット (M+)', cursive;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
   text-align: center;
   color: #454545;
}
body{
  background-color: #808080;
  color: #FFFFFF;
}
