html{
  font-family:'衡山毛筆フォント', cursive;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
   text-align: left;
   color: #454545;
}
body{
  background-color: #1f3134;
  color: #FFFFFF;
}
