html{
  font-family: 'Press Start 2P', cursive;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "cursive", sans-serif;
   text-align: center;
   color: #454545;
}
body{
  background-color: #808080;
  color: #FFFFFF;
}
